*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 640px;
    position: relative;
    background-image: url("https://cdn.pixabay.com/photo/2025/06/11/17/18/red-gana-top-9654874_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body::before{
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    left: 0;
    top: 0;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
}

.container-head{
    height: 60px;
    background-color: black;
    opacity: 0.5;
    position: relative;
    color: white;
    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: end;
}

.box{
    background-color: white;
    margin-right: 50px;
    width: 20%;
    height: 80%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}